<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.nikai.cloud.user.dao.UserDao">
  <resultMap id="UserResultMap" type="cn.net.nikai.cloud.user.dto.User">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="age" property="age" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="columns">
        id, name, age
    </sql>

  <select id="queryAll" resultMap="UserResultMap">
    select
    <include refid="columns"/>
    from t_user;
  </select>

  <select id="queryOne" resultMap="UserResultMap">
    select
    <include refid="columns"></include>
    from t_user
    where id = #{id}
  </select>

  <insert id="addOne" useGeneratedKeys="true" keyProperty="id">
        insert into
        t_user
        (name, age)
        values(#{name},#{age})
    </insert>

  <update id="update" parameterType="cn.net.nikai.cloud.user.entitry.User">
    update t_user
    <set>
      <if test="name != null and !&quot;&quot;.equals(name.trim())">
        name=#{name},
      </if>
      age = #{age}
    </set>
    where id=#{id}
  </update>

  <delete id="delete" parameterType="long">
        delete from t_user where
        id=#{id}
    </delete>
</mapper>